body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background-size: scale(0.9);
}

.bg-video {
    position: fixed;       /* nằm dưới cùng, không cuộn theo nội dung */
    inset: 0;              /* top:0; right:0; bottom:0; left:0; */
    width: 100%;
    height: 100%;
    object-fit: cover;     /* cover toàn màn hình, giữ tỉ lệ */
    z-index: -2;           /* nằm dưới overlay và nội dung */
    pointer-events: none;  /* tránh bắt mouse events */
}

.main{
	width: 700px;
	height: 550px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	resize: both;
	position: relative;
	/* display: flex;
	flex-direction: row; */
}
#chk{
	display: none;
}
.signup{
	position: absolute;
	background: rgba(0,0,0,0.5);
	width:350px;
	height: 550px;
	transition: .8s ease-in-out;	
	z-index: 0;
  }
label{
	color: #ffffff;
	font-size: 15px;
	justify-content: center;
	display: flex;
	margin: 50px;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.signup-label {
	color: #ffffff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	cursor: pointer;
	transition: .5s ease-in-out;
	font-family: sans-serif;
	font-weight: bold;
}

.signin-label {
	color: #000000;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: rgba(0,0,0,0.8);
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #ffffff;
	color: black;
}
.login{
	position: absolute;
	height: 550px;
	width: 350px;
	background: rgba(255, 255, 255,0.5);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	transform: translateX(-350px);
	z-index: -1;
}

.img_login{
	position: absolute;
	height: 550px;
	width: 350px;
	background-color:rgba(255, 255, 255,1);
	transform: translateX(350px);
	transition: .8s ease-in-out;	
	z-index: 1;
}
.login label{
	color: #000000;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transition: .8s ease-in-out;	
	transform: translateX(350px);
	z-index: 1;
} 

#chk:checked ~ .signup{
	transform: translateX(700px);
	transition: 0s;
} 

#chk:checked ~ .img_login{
	transform: translateX(0px);
	background-color: #000;
	transition: .8s ease-in-out;	
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
